<!-- House & Street Number -->
<!-- Flat & Building Name -->
<div class="row g-3">
    <div class="mb-3 col-3">
        <label for="flat" class="form-label">Flat Number</label>
        <input type="text" class="form-control" id="flat">
    </div>
    <div class="mb-3 col">
        <label for="building-name" class="form-label">Building Name</label>
        <input type="text" class="form-control" id="building-name">
    </div>
</div>
<!-- Street number & Street address -->
<div class="row g-3">
    <div class="mb-3 col-3">
        <label for="building-number" class="form-label">Building Number</label>
        <input type="text" class="form-control" id="building-number">
    </div>
    <div class="mb-3 col">
        <label for="street-name" class="form-label">Street Name</label>
        <input type="text" class="form-control" id="street-name">
    </div>
</div>

<!-- Address Line 1 & 2 -->
<div class="mb-3 col">
    <label for="Address1" class="form-label">Address 1</label>
    <input type="text" class="form-control" id="Address1">
</div>

<div class="mb-3">
    <label for="Address2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="Address2">
</div>