<!-- House & Street Number -->
<!-- Flat & Building Name -->
<div class="row g-3">
    <div class="mb-3 col-4">
        <input type="text" class="form-control" id="flat" placeholder="Flat Number">
    </div>
    <div class="mb-3 col">
        <input type="text" class="form-control" id="building-name" placeholder="Building Name">
    </div>
</div>
<!-- Street number & Street address -->
<div class="row g-3">
    <div class="mb-3 col-4">
        <input type="text" class="form-control" id="building-number" placeholder="Building Number">
    </div>
    <div class="mb-3 col">

        <input type="text" class="form-control" id="street-name" placeholder="Street Name">
    </div>
</div>

<!-- Address Line 1 & 2 -->
<div class="mb-3 col">
    <input type="text" class="form-control" id="Address1" placeholder="Address 1">
</div>

<div class="mb-3">
    <input type="text" class="form-control" id="Address2" placeholder="Address 2">
</div>