<!-- Name = Single Line -->
<div class="row g-3">
    <div class="mb-3 col">
        <input type="text" class="form-control" id="FirstName" placeholder="First Name">
    </div>
    <div class="mb-3 col">
        <input type="text" class="form-control" id="LastName" placeholder="Last Name">
    </div>
</div>

<!-- Name = 1Col -->
<div class="">
    <div class="mb-3">
        <input type="text" class="form-control" id="FirstName" placeholder="First Name">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="LastName" placeholder="Last Name">
    </div>
</div>


<!-- Name = 1Col + Middle Name -->
<div class="">
    <div class="mb-3">
        <input type="text" class="form-control" id="FirstName" placeholder="First Name">
    </div>
    <div class="mb-3 col">
        <input type="text" class="form-control" id="MiddleName" placeholder="Middle Name">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="LastName" placeholder="Last Name">
    </div>
</div>


<!-- Name = Single Line + Middle Name -->
<div class="row g-3">
    <div class="mb-3 col">
        <input type="text" class="form-control" id="FirstName" placeholder="First Name">
    </div>
    <div class="mb-3 col">
        <input type="text" class="form-control" id="MiddleName" placeholder="Middle Name">
    </div>
    <div class="mb-3 col">
        <input type="text" class="form-control" id="LastName" placeholder="Last Name">
    </div>
</div>