<!-- Name = Single Line -->
<div class="row g-3">
    <div class="mb-3 col">
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="FirstName">
    </div>
    <div class="mb-3 col">
        <label for="LastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="LastName">
    </div>
</div>

<!-- Name = 1Col -->
<div class="">
    <div class="mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="FirstName">
    </div>
    <div class="mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="LastName">
    </div>
</div>


<!-- Name = 1Col + Middle Name -->
<div class="">
    <div class="mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="FirstName">
    </div>
    <div class="mb-3 col">
        <label for="MiddleName" class="form-label">Middle Name</label>
        <input type="text" class="form-control" id="MiddleName">
    </div>
    <div class="mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="LastName">
    </div>
</div>


<!-- Name = Single Line + Middle Name -->
<div class="row g-3">
    <div class="mb-3 col">
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="FirstName">
    </div>
    <div class="mb-3 col">
        <label for="MiddleName" class="form-label">Middle Name</label>
        <input type="text" class="form-control" id="MiddleName">
    </div>
    <div class="mb-3 col">
        <label for="LastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="LastName">
    </div>
</div>