.content-grid {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: auto auto;
}

.content-grid-wide {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto auto;
}

.content-area {
  max-width: 40rem;
  padding: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-area-wide {
  padding: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w-100 {
  width: 6.25rem;
}

.tab-nav {
  grid-column: 1 / 3;
  width: 100%;
  background-color: white;
}

.settings-nav {
  top: 6rem;
  background-color: white;
  /* position: absolute; */
}

div.narrow {
  max-width: 22rem;
  justify-self: right;
}
